<header>
<div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
            <span>Résolution d'équations mathématiques en ligne</span>
            <ul>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Se connecter</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">S'inscrire</a></li>
            </ul>
    </div>
</div>
</header>