<!DOCTYPE html>
<html lang="fr">

{% block head %}

{% endblock head %}

{% include "layouts/_head.html" %}
<body>
    
    {% include "layouts/_nav.html" %}

    {% block content %}
    
    {% endblock content %}

    {% include "layouts/_footer.html" %}

</body>
</html>