{% extends "layouts/app.html" %}
{% block content %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark" style="background-color:#00001a; border-top: 3px solid #1ce;">

        <h3 class="navbar-brand">Bienvenue {{ user.username }}</h3>
        <a class="btn btn-outline-light" href="{% url 'logout' %}">Déconnexion</a>
    </nav>
    <div class="container mt-5">
        <div class="card">
            {% block title %}
            <div class="card-header">
                <h1>Oups ! ça sent le pâté.</h1>
            </div>
            {% endblock title %}
            <div class="card-body pl-5 pr-5">
                <p>L'un des coefficients n'est pas un entier</p>
                <a href="/" class="btn btn-primary">Retour</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}