{% extends "layouts/app.html" %}

{% block content %} 
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark" style="background-color:#00001a; border-top: 3px solid #1ce;">
          
        <h3 class="navbar-brand">Bienvenue {{ user.username }}</h3>
        <a class="btn btn-outline-light" href="{% url 'logout' %}">Déconnexion</a>
    </nav>
    <div class="container mt-5">
        <div class="card">
            {% block title %}
            <div class="card-header">
                <h1>Résolution d'équations</h1>
            </div>
            {% endblock title %}
            <div class="card-body pl-5 pr-5">
                <p>Après avoir choisi le type d'équation à résoudre, tapez uniquement les coefficients pour a, b et c.</p>
                <p>Les coefficients vides seront marqués avec 0</p>
                <form action="/calculate" method="post">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            
                            {{ field }}
                        </div>
                    {% endfor %}
                    
                    <input class="btn btn-primary" type="submit" value="Résoudre"  />
                    
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mt-5"></div>
        <div class="card">
            <div class="card-header">
                <p class="text-center mt-3">Veuillez vous identifier pour continuer</p>
            </div>
            <div class="text-center mt-5 mb-5">
                <a class="btn btn-primary" href="{% url 'login' %}">Je me connecte</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Je m'inscris</a>
            </div>
            
        </div>
    {% endif %}
    </div>
{% endblock content %}