{% extends "layouts/app.html" %}
{% block content %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark" style="background-color:#00001a; border-top: 3px solid #1ce;">

        <h3 class="navbar-brand">Bienvenue {{ user.username }}</h3>
        <a class="btn btn-outline-light" href="{% url 'logout' %}">Déconnexion</a>
    </nav>
    <div class="container mt-5">
        <div class="card">
            {% block title %}
            <div class="card-header">
                <h1>Solution</h1>
            </div>
            {% endblock title %}
            <div class="card-body pl-5 pr-5">
                <p>Équation à résoudre : {{equation}}</p>
                <p>{{result}}</p>
                <a href="/" class="btn btn-primary">Nouvelle équation</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}