<!-- app/templates/registration/login.html -->

{% include "../layouts/_head.html" %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        {% block title %}
        <div class="card-header">
            <h1>Authentification</h1>
        </div>
        {% endblock title %}

        {% load widget_tweaks %}
        <div class="card-body pl-5 pr-5">
            <form method="post" novalidate>
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                            {{ error }}
                            </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Connexion</button>
                <a href="/" class="btn btn-secondary">Retour</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}